models/*
/data/*
!/data/test.parquet
logs/*
__pycache__
generated/*
hidden/*

/regressor/dataset/*
/regressor/dataset/innit_hidden_states/*
generated_aime/*
hidden_aime/*
generated_math/*
hidden_math/*
/static_regressor_results/*
generated_aime_dataset/*
hidden_aime_dataset/*
/dynamic_regressor_results/*
.lmenv/